# Config

config/InventoryHUD
config/pickupnotifier
config/jade
config/jei

config/*-client.toml
config/inventoryhud-client.toml
config/xaerominimap_entities.json
config/xaerominimap.txt
config/shulkerplus/client.json
config/betteradvancements-client.toml
config/blueprint-client.toml
config/configured-client.toml
config/farsight-common.toml
config/jeed-client.toml
config/jeiintegration-client.toml
config/mc2discord.toml
config/pehkui-client.toml
config/railways-client.toml
config/rftoolsbuilder-client.toml
config/rftoolsdim-client.toml
config/rftoolsutility-client.toml
config/rubidium*
config/securitycraft-client.toml
config/sidebar_buttons.json
config/skinlayers.json
config/the_vault_tweaks-client.toml
config/upgrade_aquatic-client.toml


# Base
patchouli_data.json
/.mixin.out
/backups
/crash-reports
/data
/DiscordIntegration-Data
/logs
/playerSnapshots
/saves
/schematics
/screenshots
/Xaero*
/icon.png
/imgui*
/.curseclient
/manifest.json
/minecraftinstance.json
/modlist.html
o_prof
/options.txt
/reauth.toml
/user*
/journeymap

# Project
.idea
.vscode